How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [23]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) # create a dataframe
item = 0
values = [] # Create an empty list to store the values of dataframe column Y
for e in df['X']: # Traverse through each value of dataframe column X
    if e != 0:
        item += 1 # append 1 if element is not zero
    else:
        item = 0  # assign the element as zero if it is zero
    values.append(item) # Append item to a list of values for column Y
df['Y']=values # Assing these list of values to df['Y']

print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [36]:
bindex = pd.bdate_range(start='2015-01-01', end='2015-12-31') # Creating a datetime Index for each business day in 2015
s = pd.Series(np.random.randint(1,100,size=len(bindex)), index=bindex) # Create a series with random integers 
s.head(10) # Print the head of series

2015-01-01    50
2015-01-02    70
2015-01-05    68
2015-01-06    23
2015-01-07    30
2015-01-08    78
2015-01-09    82
2015-01-12    81
2015-01-13    22
2015-01-14     5
Freq: B, dtype: int32

Find the sum of the values in s for every Wednesday

In [40]:
np.sum(s[bindex.weekday == 2]) # weekday = 0(Monday),1(Tuesday),2(Wednesday),...6(Sunday) and use np.sum to add those values

2543

Average For each calendar month

In [53]:
s.resample('M').mean() # Average for each calendar month

2015-01-31    46.409091
2015-02-28    40.950000
2015-03-31    50.454545
2015-04-30    55.772727
2015-05-31    46.523810
2015-06-30    53.590909
2015-07-31    51.347826
2015-08-31    40.428571
2015-09-30    57.000000
2015-10-31    45.772727
2015-11-30    59.333333
2015-12-31    52.913043
Freq: M, dtype: float64

For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [55]:
s.groupby(pd.TimeGrouper('4M')).idxmax() # Groupby series with four months and find the index with max value

2015-01-31   2015-01-29
2015-05-31   2015-04-06
2015-09-30   2015-06-16
2016-01-31   2015-12-11
Freq: 4M, dtype: datetime64[ns]